@media only screen and (min-width: 320px) {
  h1,
  h2,
  h3 {
    margin: 0 0 16px 0;
    color: #333;
    font-family: 'Suedtirol', 'KievitWebPro', sans-serif;
  }
  h2 {
    text-align: center;
  }
  h1 {
    color: #80909c;
    text-align: center;
    font-size: 26px;
  }
  p {
    margin: 0;
  }
  .meteo_mountain_widget__date_title {
    text-align: center;
    margin-bottom: 56px;
    color: #758592;
  }
  .text-center {
    text-align: center;
  }

  .text-bold {
    font-weight: bold;
  }

  .p-5 {
    padding: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  h1,
  h2,
  h3 {
    margin: 0 0 16px 0;
  }
  h2 {
    text-align: center;
  }
  h1 {
    font-size: 48px;
    font-weight: 500;
  }
  p {
    margin: 0;
  }
  .meteo_mountain_widget__date_title {
    text-align: center;
    margin-bottom: 56px;
  }
}
